@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/image/fonts/material-icon.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: 100;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.contenedor{
	position: relative;
	width:90%;
	margin:auto;
	display: block;
}
	.titulo {
		position: relative;
		display: block;
		width: 100%;
	}
.titulo h1{
	font-family: 'Kanit';
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 800;
}
.add_ad{
	    position: absolute;
    right: 0;
    width: 100px;
    padding: 5px;
    font-family: 'Kanit';
    font-weight: bold;
    text-decoration: none;
    background: rgba(0,0,0,.8);
    color: #fff;
    text-align: center;
    margin-left: 20%;
    width: 100px;
    font-size: 18px;
    transition: .6s;
}
.add_ad:hover{
	color:#000;
	border:2px solid #282828;
	background: #fff;
	text-decoration: none;
	font-size: 15px;

}
.tabla_ventas{
	position: relative;
	width:80%;
	position: block;
	margin-top: 80px;

}	
.detalleSale{
	position: relative;
	margin-top: 5px;
	border-radius: 5px;
	border: 1px solid #808080;
	height: 50px;
	display: block;
	transition: .1s;

}
.detalleSale:hover{
	transform: scale(1.01,1.01);
	background: #e5e5e5;
	box-shadow: 1px 2px 10px #808080;
}
.fecha {
	position: absolute;
    top: 25px;
    left: 10px;
    background: #fff;
    z-index: 1;
    border:1px dashed rgb(105,26,194);
    font-size: 13px;
    color:#000;
    border-radius: 20px;
    width:20px;
    height: 20px;
    text-align: center;
}
.fecha2{
	position: absolute;
	width: 40px;
	height: 40px;
    top: 5px;
    left: -20px;
    background: linear-gradient(135deg, rgba(141,41,199,1) 0%,rgba(105,26,194,1) 100%);
    padding: 5px 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 20px;

}
.subfecha2{
	position: absolute;
    top: 10px;
    left: -14px;
  	font-family: 'Kanit';
    z-index: 1;
    font-size: 16px;
    color:#fff;
    

}
.hour{
	position: absolute;
	top:0;
	left:0;
}
.intern{
	position: relative;
	width:100%;
	display: block;
	line-height: 50px;
	padding-left: 20px;
}
.subintern{
	position: relative;
	display: inline-block;
	width:100px;
	text-align: center;
	font-size: 13px;
	margin-left: 10px;

}
.sintesis{
	position: absolute;
	top:10px;
	right: 20px;
	border-radius: 20px;
	font-size: 25px;
	color:#fff;
	background: #282828;
	width:25px;
	height: 25px;
	text-align: center;
	padding: 0px;
	text-decoration: none;
	border: 2px solid #282828;
	line-height: 15px;
	transition: .5s;
}
.sintesis:hover{
	text-decoration: none;
	color:#282828;
	background: #fff;
	border: 2px solid #282828;
}
input:focus{
	outline:0;
}
input{
	border:none;
	border-bottom: 2px solid #000;
}
.buscador{
	position: absolute;
	top:0px;
	right: 0px;
}