	@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/image/fonts/material-icon.woff2) format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-weight: 100;
  src: url(/image/fonts/Kanit-Light.ttf);
}
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: url(/image/fonts/PoiretOne-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Zcool';
  src: url(/image/fonts/Zcool.ttf) ;
}
@font-face {
  font-family: 'Dosis';
  src: url(/image/fonts/dosism.ttf) ;
}
select:focus {
outline:0;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: 100;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  }

.titulo {
	position: relative;

}
.titulo h1{
	font-family: 'Kanit';
	font-size: 20px;
	position: absolute;
	top:0px;
	left:0px;
}
.subcon_articulo {
	position: relative;
	width:90%;
	margin:auto;
	display: block;
}
.buscador{
	position: relative;
	margin-left:40%;
	width:100px;
	transition: .8s;
	padding: 5px 10px;
	border:none;
	border-bottom: 2px solid #b10000;
}
.buscador:focus {
	
	outline: 0;
	width:250px;
	
}
.add_ad{
	position: absolute;
	right:0;
	width:100px;
	padding: 5px;
	font-family: 'Zcool';
	text-decoration: none;
	background: rgba(0,0,0,.8);
	color: #fff;
	text-align:center;
	margin-left: 20%;
	width:100px;
	font-size: 18px;
	transition: .6s;
}
.add_ad:hover{
	color:#000;
	border:2px solid #282828;
	background: #fff;
	text-decoration: none;
	font-size: 15px;

}

.grid_articulo {
	width:100%;
	height:80px;
	background: #fff;
	border-radius: 5px;
	position: relative;
	margin-top: 10px;
	transition: .5s;
	border:1px solid #dedede;
}
.grid_articulo:hover{
	background: #f2f2f2;
	box-shadow: 1px 1px 4px #dedede;
	
}
.imagepub{
	transition: .5s;
	width:75px;
	border-radius: 5px;
}
.grid_articulo:hover .imagepub{
	border-radius: 50px;
}
.nombre {
	font-family: 'Kanit';
	position: absolute;
	left:120px;
	top:25px;
	font-size: 16px;
	font-weight: 100;
	width: 200px;
	line-height: 19px;
	color:black;
}
.precioreal{
	width:200px;
	position: absolute;
	bottom:25px;
	left:350px;
}
.precioreal h3{
	font-family: 'Kanit';
	font-size: 15px;
	position: relative;
	float:left;
	display: inline-block;
}
.precioreal span{
	font-family: 'Kanit';
	font-size: 15px;
	position: relative;
	float:left;
	display: inline-block;
}
.categoria {
	position: absolute;
	left:120px;
	top:10px;
}
.categoria h3{
	font-family: 'Dosis';
	font-size: 12px;
	position: relative;
	float:left;
	display: inline-block;
	color:#808080;
}
.categoria span{
	font-family: 'Dosis';
	font-size: 12px;
	position: relative;
	float:left;
	display: inline-block;
	margin-left: 5px;
	color:#808080;
}
.stock {
	position: absolute;
	left:450px;
	bottom:25px;
}
.stock h3{
	font-family: 'Kanit';
	font-size: 15px;
	position: relative;
	float:left;
	display: inline-block;
}
.stock span{
	font-family: 'Kanit';
	font-size: 15px;
	position: relative;
	float:left;
	display: inline-block;
	margin-left: 5px;
}
.costo {
	position: absolute;
	left:270px;
	bottom:20px;
}
.costo h3{
	font-family: 'Kanit';
	font-size: 15px;
	position: relative;
	float:left;
	display: inline-block;
}
.costo span{
	font-family: 'Kanit';
	font-size: 15px;
	position: relative;
	float:left;
	display: inline-block;
}
.codigo {
	left:520px;
	font-size: 16px;
	bottom: 19px;
	position: absolute;
}
.observar{
	position: absolute;
	right:60px;
	bottom:48px;
	width:40px;
	padding: 5px;
	font-family: 'Kanit';
	text-decoration: none;
	cursor: pointer;
	background: #17181d;
	text-align:center;
	margin-left: 20%;
	font-size: 18px;
	transition: .5s;
	border-radius: 20px 20px 0px 0px ;
	height:38px;
	border:1px solid #17181d;
}
.observar span {
	color: #fff;
}
.observar:hover {
	background: #292c35;
	font-size:15px;
	text-decoration:none;
}
.observar:hover span{
	color: #fff;
}
.edit{
	position: absolute;
	right:60px;
	bottom:10px;
	width:40px;
	padding: 5px;
	font-family: 'Kanit';
	text-decoration: none;
	background: #e09145;
	color: #fff;	
	text-align:center;
	margin-left: 20%;
	font-size: 18px;
	transition: .5s;
	border-radius: 0px 0px 20px 20px;
	height:38px;
	
}
.edit:hover{
	color:#e09145;
	background: #fcd9b8;
	border:1px solid #fcd9b8;
	font-size:15px;
	text-decoration:none;
}
.deleted{
	position: absolute;
	right:0px;
	top:0px;
	width:20px;
	height: 20px;
	padding: 5px;
	text-decoration: none;
	background: #dedede;
	color: #fff;
	text-align:center;
	margin-left: 20%;	
	transition: .1s;
	border-radius: 2px;
}
.deletedspan{
	position: absolute;
	font-size: 15px;
	right:2px;
	bottom:2px;
	
	transition: .1s;

}
.deleted:hover{
	background: #fff;
	color:#000;
}



/* -------------------- FORM INGRESAR ARTICULO  ----------- */
.addname:focus{
	
	box-shadow: none;
}
.archv{
	display: block;
	margin:auto;
	width: 70%;
	border:1px solid #dedede;
	padding: 5px 15px;
	border-radius: 10px;
	color: #282828;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	transition: .1s;
}
.archv:hover {
	transform: scale(1.05);
}
.archv.active {
	background: #808080;
	color: #fff;
}
.contnumbers{
	padding: 5px;
	display: inline-block;
	position: relative;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}
.inputnumbers{
	background: none;
	color:#000;
	font-size: 12px;
	position: absolute;
	top:0px;
	 
	padding: 40px 0px 15px 10px;
	background: none;
}
.inputnumbers:focus{
	box-shadow: none;
	background: none;
}
.numbers {
	font-size: 15px;
	font-family:'Kanit';
	
	margin-left:10px;
	color: #808080;
	z-index: 11;
 	padding: 2px;
	width: 100%;

}
.textnumber:focus{
	box-shadow: none;

}

/* SHOW */
.imagepub1{
	transition: .5s;
	width:100%;
	border-radius: 5px;
	padding: 10px 80px;
	position: relative;
	float: left;
	display: inline-block;
}
.nombre1{
	font-family: 'Kanit';
	position: relative;
	width:100%;
	float: left;
	display: inline-block;
	margin-left:50px;
	font-size:15px;
}
.categoria1{
	position: absolute;
	left:50px;
	bottom:32px;
	color:#282828;
	font-size: 11px;
	color:#fff;
	background: #282828;
	padding: 0px 10px;
}
.principal_info{
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    margin-top: 10px;

}
.stock1{
    width:50px;
    height:50px;
    line-height: 50px;
    text-align: center;
    background: #88DEB0;
    color: #fff;
    border-radius: 15px;
    font-size: 15px;
    position: relative;
    display: inline-block;
}
.codigo1{
	width:100px;
    height:50px;
    line-height: 50px;
    text-align: center;
    background: #69c6af;
    color: #fff;
    border-radius: 15px;
    font-size: 15px;
    position: relative;
    display: inline-block;
}
.costo1{
	width:100px;
    height:50px;
    line-height: 50px;
    text-align: center;
    background: #4eadaf;
    color: #fff;
    border-radius: 15px;
    font-size: 15px;
    position: relative;
    display: inline-block;
}
.subcosto{
	position: absolute;
	font-size: 10px;
	font-family: 'Zcool';
	top:-33px;
	color:#808080;
}
.simbol {
	position: absolute;
	font-size: 10px;
	font-family: 'Kanit';
	top:-14px;
	left: #fff;
}
.closenew {
	position: absolute;
	right:20px;
	z-index: 9999;
	top:10px;
}
.precio1{
	width:90px;
    height:50px;
    line-height: 50px;
    text-align: center;
    background: #000;
    color: #fff;
    border-radius: 15px;
    font-size: 15px;
    position: relative;
    display: inline-block;
}
.subprecio{
	position: absolute;
	font-size: 10px;
	font-family: 'Zcool';
	top:-33px;
	color:#808080;
}
.descripcion{
	width:90%;
	margin:auto;
	display: block;
}
.desc_cont{
	margin-left: 40px;
	width:80%;
	display: block;
	font-family: 'Kanit';
	font-size: 13px;
	text-align: justify;
	margin-top:15px;
	margin-bottom: 30px;
}