.boton {
	display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 40px;
    background: #141414;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    /* text-transform: uppercase; */
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    /* float: right; */
    margin-left: 120px;
}

.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}
.boton.cuatro::after {
	content: "";
	width: 1px;
	height: 1px;
	background: none;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transition: .3s ease-in-out all;
	border-radius: 100px;
	transform-origin: center;
}

.boton.cuatro:hover::after {
	transform: scale(400);
	background: #cc1010;
}

.boton.cuatro:hover {
	/* background: #960909; */
}