
 /* LOAD*/


/*---------------------*/ 
*{
	box-sizing: border-box;
    outline: 0;
    padding: 0;
    margin: 0;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/image/fonts/material-icon.woff2) format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-weight: 100;
  src: url(/image/fonts/Kanit-Light.ttf);
}
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: url(/image/fonts/PoiretOne-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Dosis';
  src: url(/image/fonts/dosism.ttf) ;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: 100;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  }

body{
	padding: 0;
	margin:0;
	height: 100%;
	background: #ededed;
}


.sticky-top{
  position: fixed;
  top:0px;
  height: 50px;
  background: #ededed;
  width: 100%;
  padding: 5px;
  z-index: 99;
}
.cesta{
  font-family: 'Kanit';
    font-size: 22px;
    line-height: 40px;
    padding-left: 10px;

}
    
.allforall{
    position: fixed;
    bottom:0px;
    width: 100%;
    height: 60px;
    background: #ededed;
    
    left:0px;
}
.suball{
    position: relative;
    width:85%;
    display:block;
    margin: auto;
    height: 100%
}
.subbase{
    position: relative;
    float: left;
    box-sizing: border-box;
    width:25%;
    min-width: 50px;
}
.subbase h6{
    font-size: 12px;
    color: #000;
    font-weight: 100;
    float: left;
    position: absolute;
    
    bottom:-20px;
    font-family: 'Kanit';
    
    width: 100%;
    text-align: center;
}
.usuario{
    width:30px;
    position: relative;
    margin: auto;
    display: block;
    margin-top: 10px;
}
.mobile-product{
    position: relative;
    display: inline-block;
    width: 95%;
    margin: auto;
    background: white;
    border-radius: 5px;
    margin-top: 50px;
    padding-top: 20px;
    margin-left: 2.5%;
}
.each{
  width: 100%;
  position: relative;
  display: block;
  float: left;
  height: auto;
  
  padding: 5px;
}
.image-b{
  position: relative;
  width: 30%;
  display: inline-block;
  box-sizing: border-box;
  float: left;
}
.right-content{
  box-sizing: border-box;
  position: relative;
  width: 70%;
  display: inline-block;
  float: left;
  
}
.title-p{
  position: relative;
  width: 90%;
  display: block;
}
.title-p h4{
  color: #000;
    font-family: 'Dosis';
    font-weight: 100;
    letter-spacing: 0;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    padding: 0 4px 4px 10px;
    top: 185px;
    margin: 0px;
    left: 2%;

}
.categoria{
  position: relative;
  display: block;
  width: 100%;

}
.categoria h5{
  font-size: 10px;
    line-height: 10px;
    color: #808080;
        padding-left: 10px;
    font-weight: 100;
}
.precio{
  position: relative;
  display: block;
  width: 100%;
}
.precio h6{
  font-size: 12px;
    line-height: 10px;
    color: #000;
        padding-left: 10px;
    font-weight: bold;
    padding-top: 10px;
    color: #9e9e9e;
}
.subtotal{
  position: relative;
  display: block;
  width: 100%;
}
.subtotal h6{
  font-size: 12px;
  line-height: 10px;
  color: #000;
  padding-left: 10px;
  font-weight: bold;
  padding-top: 10px;
  color: #b10000;
}
.qtyty{
  padding: 5px;
    font-size: 10px;
    line-height: 10px;
    border: 1px solid #dddddd;
    width: 20px;
    display: inline-block;
    position: relative;
    float: left;
    margin-left: -1px;
}
.less{
  padding: 5px;
    font-size: 10px;
    line-height: 10px;
    border: 1px solid #dddddd;
    position: relative;
    float: left;
    display: inline-block;
    border-radius: 20px 0px 0px 20px;
    width: 20px;
    text-align: center;
}
.command{
  display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 70px;
}
.plus{
  padding: 5px;
    font-size: 10px;
    line-height: 10px;
    border: 1px solid #dddddd;
    position: relative;
    float: left;
    display: inline-block;
    border-radius: 0px 20px 20px 0px;
    width: 20px;
    text-align: center;
    margin-left: -1px;
}
.total-b{
  position: fixed;
    bottom:60px;
    width: 100%;
    height: 60px;
    background: #fff;
    
    left:0px;
}
.button-pay{
  position: absolute;
    right: 20px;
    font-size: 20px;
    color: #fff;
    background: #b10000;
    border-radius: 20px;
    line-height: 30px;
    padding: 5px;
    width: 100px;
    text-align: center;
    top: 10px;

}
.option-select{
  width: 40%;
    position: absolute;
    /* float: left; */
    display: block;
    font-size: 13px;
    border: none;
    background: none;
    /* margin-bottom: 15px; */
    padding: 7px;
    border-radius: 5px;
    /* border: 1px solid #fafafa; */
    margin-top: 15px;
}
.precio-transfer{
  font-size: 15px;
  position: absolute;
  right: 130px;
  top:20px;
}
.resume{
  position: fixed;
  top:0px;
  height: 100vh;
  background:rgba(0,0,0,0.5);
  
  width: 100%;
}
.sub-resume{
  position: absolute;
  bottom:-15px;
  background: #fff;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  transition: .5s;
}
.resume-title{
  text-align: center;
  padding: 10px;
  font-weight: bold;
  position: relative;
  width: 100%;
}
.detail-resume{
  position: relative;
  width: 90%;
  margin: auto;
}
.left-resume{
  position: relative;
  box-sizing: border-box;
  width: 50%;
  float: left;
  text-align: left;
}
.right-resume{
  position: relative;
  box-sizing: border-box;
  width: 50%;
  float: left;
  text-align: right;
}

.tops{
  position: absolute;
  top:0px;
  left: 0px;
  height: 50px;
  background: green;
  color:white;
  width: 100%;  
  line-height: 50px;
  padding-left: 20px;
}
.verpedido{
      position: relative;
    width: 150px;
    background: green;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: white;
    border-radius: 5px;
}
.suggest{
  width: 95%;
  position: relative;
  margin:auto;
  margin-top: 30px;
}
.title-s{
  font-size: 20px;
  color:#282828;
}
.continuar{
  position: fixed;
    bottom: 0px;
    z-index: 999;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: green;
    color: wheat;
    font-size: 18px;
    border-radius: 15px 15px 0px 0px;
}
