/* LOAD*/


/*---------------------*/ 
*{
	box-sizing: border-box;
    outline: 0;
    padding: 0;
    margin: 0;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/image/fonts/material-icon.woff2) format('woff2');
}
@font-face {
  font-family: 'Kanit';
  font-weight: 100;
  src: url(/image/fonts/Kanit-Light.ttf);
}
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: url(/image/fonts/PoiretOne-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Dosis';
  src: url(/image/fonts/dosism.ttf) ;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: 100;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  }

body{
	padding: 0;
	margin:0;
	height: 100%;
	background: #ededed;
}

.sticky-top{
  position: fixed;
  top:0px;
  height: 50px;
  background: black;
  width: 100%;
  padding: 5px;
  z-index: 99;

}
.confirm{
   font-family: 'Kanit';
    font-size: 18px;
    line-height: 40px;
    padding-left: 10px;
    font-weight: 100;
    color:white;
}
.address-content{
  position: relative;
  width: 100%;
  display: inline-block;
  margin-top: 50px;
  background: white;
  padding:10px;
}
.ubicacion-image{
  position: relative;
  box-sizing: border-box;
  width:10%;
  float: left;
  display: inline-block;
}
.image-ub{
  width: 80%;
}
.address-modify{
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 80%;
  display: inline-block;
  padding: 10px;
}
.mobile-product{
    position: relative;
    display: inline-block;
    width: 100%;
    margin: auto;
    background: white;
    
    margin-top: 10px;
    padding-top: 20px;
    
}
.each{
  width: 100%;
  position: relative;
  display: block;
  float: left;
  height: auto;
  
  padding: 5px;
}
.image-b{
  position: relative;
  width: 30%;
  display: inline-block;
  box-sizing: border-box;
  float: left;
}
.right-content{
  box-sizing: border-box;
  position: relative;
  width: 70%;
  display: inline-block;
  float: left;
  
}
.title-p{
  position: relative;
  width: 90%;
  display: block;
}
.title-p h4{
  color: #000;
    font-family: 'Dosis';
    font-weight: 100;
    letter-spacing: 0;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    padding: 0 4px 4px 10px;
    top: 185px;
    margin: 0px;
    left: 2%;

}
.categoria{
  position: relative;
  display: block;
  width: 100%;

}
.categoria h5{
  font-size: 10px;
    line-height: 10px;
    color: #808080;
        padding-left: 10px;
    font-weight: 100;
}
.precio{
  position: relative;
  display: block;
  width: 100%;
}
.precio h6{
  font-size: 12px;
    line-height: 10px;
    color: #000;
        padding-left: 10px;
    font-weight: bold;
    padding-top: 10px;
    color: #9e9e9e;
}
.subtotal{
  position: relative;
  display: block;
  width: 100%;
}
.subtotal h6{
  font-size: 12px;
  line-height: 10px;
  color: #000;
  padding-left: 10px;
  font-weight: bold;
  padding-top: 10px;
  color: #a305fa;
}
.qtyty{
  padding: 5px;
    font-size: 10px;
    line-height: 10px;
    border: 1px solid #dddddd;
    width: 20px;
    display: inline-block;
    position: relative;
    float: left;
    margin-left: -1px;
}
.less{
  padding: 5px;
    font-size: 10px;
    line-height: 10px;
    border: 1px solid #dddddd;
    position: relative;
    float: left;
    display: inline-block;
    border-radius: 20px 0px 0px 20px;
    width: 20px;
    text-align: center;
}
.command{
  display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 70px;
}
.detail-resume{
  position: relative;
  width: 90%;
  margin: auto;
}
.left-resume{
  position: relative;
  box-sizing: border-box;
  width: 50%;
  float: left;
  text-align: left;
}
.right-resume{
  position: relative;
  box-sizing: border-box;
  width: 50%;
  float: left;
  text-align: right;
}