*{
    margin:0px;
    padding:0px;box-sizing: border-box;
}
.top-sear{
    position: relative;
    width: 100%;
    height:130px;
    display: block;
   
}
.bottom-sec{
    position: relative;
    width: 100%;
    display: inline-block;
    
    
}
.sub-object{
    position: relative;
    display:block;
    max-width: 1200px;
    width:100%;
    min-width:1150px;
    margin: auto;
    padding:10px;

}
.flex1{
    position: relative;
    width:30%;
    height: 850px;
    float: left;
    

}
.flex2{
    position: relative;
    width:65%;
    
    float: left;
    
}
.lista{
    list-style: none;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    
    width:85%;
    padding-top: 50px;
}
.lista li{
    padding: 10px;
    line-height: 15px;
    
    display:flex;
    padding-bottom: 0;
    margin-top:15px;
    cursor:pointer;
}
.lista h5{
    line-height: 17px;
    font-size: 15px;
    padding-left: 5px;
    font-weight: 100;
}
.title {
     font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    font-weight:bold;
}
p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color:#808080;
    margin-top:20px;
}
textarea{
    font-family:  Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 15px;
    border:none;
    margin-top:20px;
    resize:none;
    text-align: justify;
}